{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row profile-header">
        <div class="col text-center">
            <h2>Welcome to Routify</h2>
        </div>
    </div>

    <!-- Profile Info Section -->
    <div class="row">
        <div class="col-md-6 offset-md-3 profile-content">
            <p>Logged in as: <strong class="gfg">{{ session.name }}</strong></p>
            <p>
                <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}
